# generic things to ignore in base or anywhere
.vscode/
*.png
*.jpg
temp/
old/
build*
renderings/*.csv
renderings/*.xyz
renderings/*.mlp
renderings/*.png

# ignore in Python folder
Python/.vscode/
Python/__pycache__/
Python/*.py[cod]

# ignore in Cpp folder
Cpp-ldr/build/
Cpp-ldr/windows_build/
Cpp-ldr/linux_build/
Cpp-ldr/CMakeLists.txt.user
Cpp-ldr/temp/
