# generic things to ignore in base or anywhere
.vscode/
*.png
*.jpg
temp/
old/
build*
renderings/*.csv
renderings/*.xyz
renderings/*.mlp
renderings/*.png

# ignore in Python folder
Python/.vscode/
Python/__pycache__/
Python/*.py[cod]
